---
---
@import "variables";
@import "elements";
@import "layout";
@import "blog";
@import "navigation";
@import "sidebar";
@import "recipes";

.ingredient-list {
	label {
		cursor: pointer;
	}

	li label {
		padding: 0.3em;
	}
	li label:hover {
		background: #eee;
	}
	li::before {
		content: '' !important;
	}

	li:has(input:checked) {
		text-decoration: line-through;
	}
}

