---
title: Home
---
<section class="posts container2">
    {% for post in paginator.posts %}
        <article class="post-item">
			<div class="post-info">
				<h1>
					<a href="{{ site.baseurl }}{{ post.url }}">
						{{ post.title }}
					</a>
				</h1>
				<time datetime="{{ post.date | date_to_xmlschema }}">
					{{ post.date | date: "%B %-d, %Y" }}
				</time>
				{{ post.excerpt |truncatewords: 20}}
			</div>


            <div class="image" style="background-image: url({% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image }}{% endif %});">
            </div>

        </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
            {% endif %}

            <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

            {% if paginator.next_page %}
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
            {% endif %}
        </div>
    {% endif %}
</section>
