---
title: Home
---
<section class="posts">
    {% for post in paginator.posts %}
        <article class="post">
            {% include post-heading.html post=post %}
            <div class="image">
                {% if post.image contains 'http' %}
                <img src="{{ post.image }}" alt="{{ post.title }}">
                {% else %}
                <img src="{{ site.baseurl }}/images/recipes/{{ post.image }}" alt="{{ post.title }}">
                {% endif %}
            </div>

            {{ post.excerpt }}

            <p><a class="button" href="{{ site.baseurl }}{{ post.url }}">Read more</a></p>
        </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
        <div class="pagination">
            {% if paginator.previous_page %}
                <a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
            {% endif %}

            <span class="page_number ">{{ paginator.page }} of {{ paginator.total_pages }}</span>

            {% if paginator.next_page %}
                <a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
            {% endif %}
        </div>
    {% endif %}
</section>
