---
layout: default
title: Home
---
<section class="content">
<div class="row">
{% for post in paginator.posts %}
<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 article-container">
<article class="card">
	<a href="{{ site.baseurl }}{{ post.url }}">
		<img src="{% if post.image contains 'http' %}{{ post.image }}{% else %}{{ site.baseurl }}/{{ post.image | default: 'images/placeholder.jpeg' }}{% endif %}">
		<h2>
			{{ post.title }}
		</h2>
	
		{{ post.excerpt |truncatewords: 20}}
	</a>


	<time datetime="{{ post.date | date_to_xmlschema }}">
		{{ post.date | date: "%B %-d, %Y" }}
	</time>
</article>
</div>
{% endfor %}
</div>
</section>

<div class="row">
	<div class="col-sm-12" style="text-align: center">
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
	<a href="{{ site.baseurl }}{{ paginator.previous_page_path }}" class="previous btn">&larr; Newer posts</a>
    {% endif %}

		<span><span class="page_no">{{ paginator.page }}</span> of <span class="page_no">{{ paginator.total_pages }}</span></span>

    {% if paginator.next_page %}
	<a href="{{ site.baseurl }}{{ paginator.next_page_path }}" class="next btn">Older posts &rarr;</a>
    {% endif %}
</div>
{% endif %}
</div>
</div>


