<nav>
	<div class="container2">
	<a class="logo" href="{{ site.baseurl }}/">
		<img src="{{ site.baseurl }}/images/galaxians-recipes-dark.png" height="120" alt="logo">
		<!--<img src="{{ site.baseurl }}/images/logo3.jpg" height="68" alt="logo">-->
	</a>

    {% for link in site.data.navigation %}
    {% assign class = "" %}

        {% if link.link == page.url %}
            {% assign class = class | append: " active" %}
        {% endif %}
        <a href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a>
    {% endfor %}
	</div>
</nav>
