<aside class="sidebar push">
    <div class="author">
        <p>
            <a href="{{ site.baseurl }}/about/">
                <img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" alt="author" class="author">
            </a>
        </p>
        <p>{{ site.data.sidebar.description_markdown | markdownify }}</p>
    </div>

    <div class="social-icons">
        <a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
    </div>
</aside>
