nav {
	div.container2 {
		display: flex;
		justify-content: center;
		align-items: center;

	}

	a {
		display: inline-block;
		text-decoration: none;
		padding: 20px 15px;
		color: #444;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-size: .9em;

		&.active {
			color: #888;
		}

		&:hover {
			color: #000;
		}
	}

	a.logo {
		padding: 0px;
		line-height: 0px;
	}
}
