<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="//fonts.googleapis.com/css?family=Antic+Slab|Fira+Sans" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
<link rel="manifest" href="/recipes/manifest.json">

    <link rel="stylesheet" media="screen" href="{{ site.baseurl }}/css/screen.css">
    {% if page.print_stylesheet %}
        <link rel="stylesheet" media="print" href="{{ site.baseurl }}/css/print.css">
    {% endif %}
    <link rel="icon" type="image/png" href="{{ site.baseurl }}/images/favicon.png">
    {% seo %}
    {% feed_meta %}
</head>
	<body>
		<header class="container">
			<nav>
				<ul>
					<a href="{{ site.baseurl }}/">
					<img src="{{ site.baseurl }}/images/galaxians-recipes-dark.png" class="logo">
					</a>
				</ul>
				<ul>
					{% for link in site.data.navigation %}
					{% assign class = "" %}

					{% if link.link == page.url %}
					{% assign class = class | append: " active" %}
					{% endif %}
					<li><a role="button" href="{% include relative-src.html src=link.link %}" class="{{ class }}">{{ link.name }}</a></li>
					{% endfor %}
				</ul>
			</nav>
		</header>
		<main class="container">
			{{ content }}
		</main>
		<footer class="container">
			<div class="grid">
				<div class="right">
					<a href="{{ site.baseurl }}/about/">
					<img src="{{ site.baseurl }}{{ site.data.sidebar.author_image }}" alt="author" class="logo">
					</a>
				</div>
				<div>
					<p>{{ site.data.sidebar.description_markdown | markdownify }}</p>
					<a target="_blank" href="{{ site.baseurl }}/feed.xml">{% include social-icon.html icon="RSS" %}</a>
				</div>
			</div>
		</footer>
	</body>
</html>
