---
layout: default
---
{% assign ingredient_style = page.recipe.ingredients | map: "" | join: "," | size %}

<section class="recipe">

<article data-pagefind-body>
	<header>
		<div class="title">
			<h1 data-pagefind-meta="title">
			{{ page.title }}
			</h1>
			<time datetime="{{ page.date | date_to_xmlschema }}" data-pagefind-meta="date:{{page.date|date_to_xmlschema}}">
			    {{ page.date | date: "%B %-d, %Y" }}
			</time>
		</div>
	<div class="row meta-box">
		<div class="col-md-10">
		<img class="cover-image" src="{% if page.image contains 'http' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}">
		</div>
		<div class="col-md-2">
			<ul>
				<li title="Servings" data-pagefind-meta="servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
				<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span data-pagefind-meta="prep">{{ page.recipe.prep }}</span></li>
				{% if page.recipe.cook %}
				<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span data-pagefind-meta="cook">{{ page.recipe.cook }}</span></li>
				{% endif %}

				{% if page.recipe.person %}
					<li title="Person">{% include recipe-icon.html icon="person" %}<span data-pagefind-filter="author">{{ page.recipe.person }}</span></li>
				{% else if page.person %}
					<li title="Person">{% include recipe-icon.html icon="person" %}<span data-pagefind-filter="author">{{ page.person }}</span></li>
				{% endif %}

				{% if page.tags %}
				<li title="Tags">
					{% for tag in page.tags  %}
					<span>
						<a href="{{ site.baseurl }}/tag/{{ tag | downcase }}/" data-pagefind-filter="tag" class="tag-badge">
						{{ tag }}
						</a>
					</span>
					{% endfor %}
				</li>
				{% else %}
				{% endif %}

			</ul>
		</div>
	</div>
	</header>


    {% if page.recipe.url %}
    <p>This meal was inspired by <a href="{{ page.recipe.url }}">this</a> recipe.</p>
    {% endif %}
        <div class="ingredients">
            <h2>Ingredients</h2>

                    {% if ingredient_style == 0 %}
                        {% for k in page.recipe.ingredients %}
			<p>
                        {{ k[0] }}
			</p>
                            <ul class="ingredient-list">
                                    {% for ingredient in k[1] %}
                                        <li>
                                                <label data-pagefind-filter="ingredient">
                                                <input type="checkbox">
                                                {{ ingredient }}
                                                </label>
                                        </li>
                                    {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                            <ul class="ingredient-list">
                                    {% for ingredient in page.recipe.ingredients %}
                                        <li>
                                                <label data-pagefind-filter="ingredient">
                                                <input type="checkbox">
                                                {{ ingredient }}
                                                </label>
                                        </li>
                                    {% endfor %}
                            </ul>
                    {% endif %}
        </div>

        <div class="directions">
            <h2>Directions</h2>
            {{ page.recipe.directions | markdownify }}
        </div>

     <div class="recipe-body" style="margin-top: 1em">
     <hr>
     <h2>Description</h2>

        {{ content }}

        <img src="{{site.baseurl}}/{{page.image}}" alt="cover img"></img>
    </div>

</article>
</section>

<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@graph": [
		{
			"@id": "{{ page.url }}",
			"@type": "Recipe",
			"name": "{{ page.title }}",
			"author": {
				"@type": "Person",
				"name": "{{ page.person }}"
			},
			"prepTime": "{{ page.recipe.prep }}",
			"cookTime": "{{ page.recipe.cook }}",
			"datePublished": "{{ page.date }}",
			{% if page.description %}
			"description": "{{ page.description }}",
			{% endif %}
			"image": "{{ site.baseurl }}/{{ page.image }}",
			"recipeCategory": [
				"Main Course"
			],
			"recipeIngredient": [
				{% if ingredient_style == 0 %}
					{% for k in page.recipe.ingredients %}
						{% for ing in k[1] %}
							"{{ ing }}"{% unless forloop.last %},{% endunless %}
						{% endfor %}
					{% endfor %}
				{% else %}
					{% for ing in page.recipe.ingredients %}
						"{{ ing }}"{% unless forloop.last %},{% endunless %}
					{% endfor %}
				{% endif %}
			]
			"recipeInstructions": [
				{
					"@type": "HowToStep",
					"name": "{{ page.recipe.directions | replace_newline }}",
					"text": "{{ page.recipe.directions | replace_newline }}",
				}
			]
			"recipeYield": "{{ page.recipe.servings }}"
		}
	]
}
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
