---
layout: default
---
<section class="recipe">

<article>
	<header>
		<div class="title">
			<h1>
			{{ page.title }}
			</h1>
			<time datetime="{{ page.date | date_to_xmlschema }}">
			    {{ page.date | date: "%B %-d, %Y" }}
			</time>
		</div>
	<div class="row meta-box">
		<div class="col-md-10">
		<img class="cover-image" src="{% if page.image contains 'http' %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}">
		</div>
		<div class="col-md-2">
			<ul>
				<li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
				<li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
				{% if page.recipe.cook %}
				<li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>
				{% endif %}

				{% if page.recipe.person %}
					<li title="Person">{% include recipe-icon.html icon="person" %}<span>{{ page.recipe.person }}</span></li>
				{% else if page.person %}
					<li title="Person">{% include recipe-icon.html icon="person" %}<span>{{ page.person }}</span></li>
				{% endif %}

				{% if page.categories %}
				<li title="Tags">
					<ul>
						{% for tag in page.categories %}
						<li>
							{{ tag }}
						</li>
						{% endfor %}
					</ul>
				</li>
				{% else %}
				{% endif %}

			</ul>
		</div>
	</div>
	</header>


    {% if page.recipe.url %}
    <p>This meal was inspired by <a href="{{ page.recipe.url }}">this</a> recipe.</p>
    {% endif %}
        <div class="ingredients">
            <h2>Ingredients</h2>

                    {% assign tmp = page.recipe.ingredients | map: "" | join: "," | size %}
                    {% if tmp == 0 %}
                        {% for k in page.recipe.ingredients %}
			<p>
                        {{ k[0] }}
			</p>
                            <ul class="ingredient-list">
                                    {% for ingredient in k[1] %}
                                        <li>
                                                <label>
                                                <input type="checkbox">
                                                {{ ingredient }}
                                                </label>
                                        </li>
                                    {% endfor %}
                            </ul>
                        {% endfor %}
                    {% else %}
                            <ul class="ingredient-list">
                                    {% for ingredient in page.recipe.ingredients %}
                                        <li>
                                                <label>
                                                <input type="checkbox">
                                                {{ ingredient }}
                                                </label>
                                        </li>
                                    {% endfor %}
                            </ul>
                    {% endif %}
        </div>

        <div class="directions">
            <h2>Directions</h2>
            {{ page.recipe.directions | markdownify }}
        </div>

     <div class="recipe-body">
        {{ content }}
    </div>

</article>
</section>

<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Recipe",
      "name": "{{ page.title }}",
      "author": "{{ page.person }}",
      "prepTime": "{{ page.recipe.prep }}",
      "cookTime": "{{ page.recipe.cook }}",
      "datePublished": "{{ page.date }}",
      {% if page.description %}
      "description": "{{ page.description }}",
      {% endif %}
      "image": "{{ site.baseurl }}/{{ page.image }}",
      "recipeIngredient": {{ page.recipe.ingredients }},
      "recipeInstructions": "{{ page.recipe.directions }}",
      "recipeYield": "{{ page.recipe.servings }}"
    }
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
