---
layout: default
---
<article class="post">
    {% include post-heading.html post=page post_page=true %}
    <div class="image">
        {% if page.image contains 'http' %}
        <img src="{{ page.image }}" alt="{{ page.title }}">
        {% else %}
        <img src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
        {% endif %}
    </div>



    <ul id="recipe" class="recipe-overview">
        <li title="Servings">{% include recipe-icon.html icon="quantity" %}<span>{{ page.recipe.servings }}</span></li>
        <li title="Prep Time">{% include recipe-icon.html icon="time" %}<span>{{ page.recipe.prep }}</span></li>
        <li title="Cook Time">{% include recipe-icon.html icon="cook" %}<span>{{ page.recipe.cook }}</span></li>

        {% if page.recipe.person %}
            <li title="Person">{% include recipe-icon.html icon="person" %}<span>{{ page.recipe.person }}</span></li>
        {% else if page.person %}
            <li title="Person">{% include recipe-icon.html icon="person" %}<span>{{ page.person }}</span></li>
        {% endif %}
    </ul>
    {% if page.recipe.url %}
    <p>This meal was inspired by <a href="{{ page.recipe.url }}">this</a> recipe.</p>
    {% endif %}
    <div class="recipe-contents">
        <div class="ingredients">
            <h2>Ingredients</h2>
            {{ page.recipe.ingredients | markdownify }}
        </div>

        <div class="directions">
            <h2>Directions</h2>
            {{ page.recipe.directions | markdownify }}
        </div>
    </div>

     <div class="recipe-body">
        {{ content }}
    </div>

</article>


<script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Recipe",
      "name": "{{ page.title }}",
      "author": "{{ page.person }}",
      "prepTime": "{{ page.recipe.prep }}",
      "cookTime": "{{ page.recipe.cook }}",
      "datePublished": "{{ page.date }}",
      {% if page.description %}
      "description": "{{ page.description }}",
      {% endif %}
      "image": "{{ site.baseurl }}/{{ page.image }}",
      "recipeIngredient": {{ page.recipe.ingredients }},
      "recipeInstructions": "{{ page.recipe.directions }}",
      "recipeYield": "{{ page.recipe.servings }}"
    }
</script>


<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.imgPin.min.js"></script>
<script>
    $(function() {
        $('.post img').imgPin();

        $('a[href*=\\#]').on('click', function(event){
            var el = $(this.hash);
            if (el.length > 0) {
                event.preventDefault();
                $('html,body').animate({scrollTop:$(this.hash).offset().top - 50}, 500);
            }
        });
    });
</script>
